@font-face {
    font-family: "SFPro";
    src: url(font/SFProLight.otf);
}

@font-face {
  font-family: "Retro";
  src: url(font/RetroGaming.ttf);
}


* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
  }
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 0.7rem;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
  background:grey;
  border-radius: 1em;
  }
  

  /*Loading*/


  .spinContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(55, 15, 20);
    display: grid;
    place-items: center;
    z-index: 10;
}

.square {
    width: 20em;
    height: 30em;
    transform: rotateY(0deg);
    animation: rotateAnimation 2.5s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-shrinK: 0;
}


.spin {
    height: 100%;
}

@keyframes rotateAnimation {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

  /*main containers*/
.bigContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in;
    flex-shrink: 0;
}

.bigContainer2 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow:scroll;
  overflow-x: hidden;
  opacity: 1;
  display: flex;
  transition: opacity 0.5s ease-in;
  flex-shrink: 0;

}

/*iPhone Screen */
.container1 {
    background:no-repeat center / cover url(images/blob.svg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 0;
}

.subcontainer1 {
    background-color: rgb(6, 1, 43);
    max-width: 762px;
    min-width: 323px;
    width: 95%;
    height: 95%;
    border-radius: 3.75em;
    display: flex;
    overflow: auto;
    scroll-snap-align: center;
}

#sideButton {
    width: 0.3%; 
    background-color: rgba(195, 186, 234, 0);
    height: 25%; 
    position: relative; 
    top: -25%;
}

#notifButton {
    width: 100%; 
    height: 10%; 
    background-color: rgb(255, 255, 255); 
    margin-bottom: 2.5em;
    border-radius: 1em 0 0 1em ;
}

#volumeButton {
    width: 100%; 
    height: 40%; 
    background-color: rgb(255, 255, 255); 
    margin-bottom: 1em;
    border-radius: 1em 0 0 1em ;
}
#sideButton2 {
    width: 0.3%; 
    background-color: rgb(195, 186, 234);
    height: 10%; 
    position: relative; 
    top: -25%;
    border-radius: 0 1em 1em 0;
}

.screen1 {
    background: no-repeat center / cover url(images/screenWallpaper.svg);
    max-width: 751px;
    min-width: 303px;
    width: 94%;
    height: 96%;
    border-radius: 3em;
    overflow: auto;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
}

.screen1::-webkit-scrollbar{ height: 0px;}

/* This is where the content for the phone should be! */
.screen2 {
    background-color: rgba(141, 25, 25, 0);
    max-width: 751px;
    min-width: 303px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    scroll-snap-align: center;
    overflow: hidden;
}

.screen2 img {
  transition: transform 0.3s ease-in-out;
}

#button1 {
    width: 35%;
    height: 5%;
    border-radius: 0em 0em  2em 2em;
    background-color: rgb(33, 24, 80);
    border: 0px;
    box-shadow: 5px 5px 5px 5px white;
}

#divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  #time {
    color: white;
    font-family: "SFPro";
    font-size: 10vh;
    font-weight: light;
    letter-spacing: -2px;
    pointer-events: none;
  }

  #day {
    color: white;
    font-family: "SFPro";
    font-size: 2.5vh;
    font-weight: light;
    pointer-events: none;
    position: relative;
    top: -30%;
  }

  .notch {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
  }

  .iOSBarRight {
    width: 80%; 
    height: 100%; 
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    column-gap: 0.25em;
  }

  .iOSBarRight img:nth-child(1){
    height: 0.9em;
  }

  .iOSBarRight img{
    height: 1em
  }

  .iOSBar2 {
    width: 50%; 
    height: 100%; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    column-gap: 0.25em;
  }

  .greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 3em;
    font-size: 4vh;
    color: white;
    text-align: center;
    text-shadow: 3px 3px rgb(170, 0, 0);
  }

  .swipe {
    background-color: rgba(0, 0, 255, 0);
    border: 0;
    color: white;
    font-size: 3vh;
  }

  .keyArrow {
    background-color: white;
    color: black;
    padding: 0.1em 0.2em 0.2em 0.2em;
    border-radius: 0.25em;
    font-size: 4vh;
    cursor: pointer;
  }

  .keyArrow:hover {
    background-color: rgb(0, 176, 100);
    color: rgb(255, 255, 255);
    padding: 0.1em 0.2em 0.2em 0.2em;
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    color: white;
    margin-top: 1.5em;

  }

  .profile p, span {
    font-size: 2vh;
    font-weight: 700;
  }

  .nickNameContain {
    background-color: rgba(133, 88, 143, 0.693);
      border-radius: 1em;
      padding: 0em 0.5em 0em 0.5em;
      border: 0;
  }

  .picContain {
    background-color: rgba(143, 88, 88, 0.354);
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .picContain img {
    min-width: 180px;
    width: 80%;
    height: 95%;
    border-radius: 1em;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    font-size: 2.8vh;
    color: white;
  }

  .aboutMeText {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }
  .navArrows {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 1em
  }

  .keyArrow2 {
    background-color: rgba(100, 100, 100, 0.576);
    color: white;
    width: 1em;
    height: 1em;
    padding: 0.8em;
    border-radius: 50%;;
    font-size: 3vh;
    transition: ease-in 0.3s ;
    backdrop-filter: blur(15px);  
    cursor: pointer;
    text-align: center;
}

  .keyArrow2:hover {
    transform: scale(1.3);
    background-color: rgb(22, 22, 22);
    color: white;
  }

  .keyArrow3 {
    background-color: white;
    color: black;
    padding: 0.1em 0.2em 0.2em 0.2em;
    border-radius: 0.25em;
    font-size: 1.55vh;
    cursor: pointer;
  }

  .keyArrow3:hover {
    background-color: rgb(0, 176, 100);
    color: rgb(255, 255, 255);
    padding: 0.1em 0.2em 0.2em 0.2em;
  }
/*iPhone Screen */






/*Gameboy Screen */

.container2 {
    background:no-repeat center / cover url(images/lowpoly3.svg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: flex-end;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.moreAboutMe {
  width: 80%;
  height: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Retro";
  font-size: 3.75vh;
  color:white;
  text-shadow: 5px 5px rgb(2, 126, 99);
}

.subContainer2 {
    max-width: 740px;
    min-width: 400px;
    width: 70%; 
    height: 90%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items:center;
}

.gameboyScreen {
  background: linear-gradient(254deg, rgba(221,0,0,1) 0%, rgba(166,0,0,1) 75%, rgba(165,0,0,1) 76%, rgba(143,0,0,1) 100%);
  width: 90%;
    height: 60%;
    border-radius: 2em;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.circles {
    width: 90%;
    height: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;

}
.circle {
    width: 1em;
    height: 1em;
    background-color: rgb(53, 0, 0);
    border-radius: 50%;
}

.circleSmall {
    width: 10px;
    height: 10px;
    background-color:  rgb(53, 0, 0);
    border-radius: 50%;
}

.gbaScreen {
    background-color: rgb(0, 0, 0);
    width: 85%;
    height:90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.gbaScreenMain {
    background-color: rgb(56, 56, 61);
    width: 90%;
    height: 85%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    overflow: auto;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
}

.gbaScreenMain2 {
  overflow: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
}



.gbaScreenMain2::-webkit-scrollbar { height: 0px;}


.gbaScreenMainDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  scroll-snap-align: center;
  background-image: url(images/screenWallpaper.svg);
  color: white;
  font-family: "Retro";
  font-size: 2vh;
  flex-shrink: 0;
}

.gbaScreenMainDisplay2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  scroll-snap-align: center;
  background-image: url(images/screenWallpaper.svg);
  color: white;
  font-family: "Retro";
  font-size: 0.5vh;
  flex-shrink: 0;
}

.gbaScreenMainDisplay3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  scroll-snap-align: center;
  background-image: url(images/screenWallpaper.svg);
  color: white;
  font-family: "Retro";
  font-size: 1.5vh;
  flex-shrink: 0;
}

.gameGif {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.gameGifs {
  border-radius: 0.5em;
  transition: 0.2s ease;
}

.gameGifs:hover {
  transform: scale(1.2);
}
.gameGifs:nth-child(1){
  height: 150px;
}

.gameGifs:nth-child(2){
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 150px;

}

.bBall {
  border-radius: 1em;
}
/* Moving Logo */
.boxLogo {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 95%;
  width: 95%;
  overflow: hidden;
}

.boxLogo .inner {
	width: 95%;
  min-width: 95%;
  max-height: 300px;
	min-height: 160px;
	overflow: hidden;
}

.inner {
  display:flex;
  align-items: center;
}
.boxLogo .inner:first-child {
	background-color: rgba(102, 169, 207, 0.616);
  border-radius: 0.1em 0 0 0.1em;
	color: darkred;
	transform-origin: right;
	transform: perspective(150px) rotateY(-15deg);
}

.boxLogo .inner:last-child {
	background-color: rgba(26, 111, 207, 0.491);
	color: antiquewhite;
  border-radius: 0em 0.1em 0.1em 0em;
	transform-origin: left;
	transform: perspective(150px) rotateY(15deg);
}

.boxLogo .inner span {
	position: relative;
	animation: marquee 5s linear infinite;
}

.boxLogo .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

.progLogo{
  width: 100%;
  max-height: 150px;
  transition: 0.1s ease-in;
}

.progLogo:hover {
  transform: scale(1.5);
}

@keyframes marquee {
	from {
		left: 100%;
    transform: scale(1.1);
	}

	to {
		left: -100%;
    transform: scale(1.2);
	}
}

/*Moving Logo*/
.gbaScreenMainDisplay2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  scroll-snap-align: center;
  background-image: url(images/stackedPeak.svg);
  color: white;
  font-family: "Retro";
  font-size: 2vh;
}




.gameboyPad {
  background: linear-gradient(254deg, rgba(221,0,0,1) 0%, rgba(166,0,0,1) 75%, rgba(165,0,0,1) 76%, rgba(143,0,0,1) 100%);
    width: 90%;
    height: 60%;
    border-radius:  2em;
    border: 3px solid black;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.hinge {
    background-color: rgb(170, 38, 5);
    width: 100%;
    height: 10%;
    border-radius: 2em 2em 2em 2em;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hingeLine {
    background-color: rgb(170, 38, 5);
    width: 45%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hingeLine2 { 
    background-color: rgb(170, 38, 5);
    width: 10%;
    height: 100%;
    border: 2px solid black;
}

.lightBtn {
    margin-top: 1em;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunBtn {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
.lightBar {
    height: 20px;
    width: 20px;
    background: rgb(220, 220, 220);
    border-radius: 50%;
    border: 1px solid rgb(84, 14, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statusLight {
    margin-top: 1em;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.greenLight {
    height: 50%;
    width: 2.75%;
    background-color: rgb(98, 226, 157);
    margin-bottom: 10px;
    animation: blinking 1s infinite;
}

.greyLight {
    height: 50%;
    width: 2.75%;
    background-color: rgb(91, 74, 74);
}

@keyframes blinking {
    0% {
      background-color: #3be16d;
    }
    100% {
      background-color: #00734b;
    }
  }

  .gameboyPadCircles {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bigPadCircle,   .smallPadCircle {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .bigPadCircle2 {
    height: 82.5%;
    width: 65%;
    background-color: rgb(136, 27, 0);
    border-radius: 50%;
    border: 0.5em solid rgb(100, 20, 0);
  }

  .smallPadCircle2 {
    height: 80%;
    width: 30%;
    border-radius: 4em;
    background-color: rgb(136, 27, 0);
    border: 0.5em solid rgb(100, 20, 0);
    transform: rotate(75deg);
  }

  /* Projects */

  .projects {
    background:no-repeat center / cover url(images/stacked.svg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	  align-items: center;
	  justify-content: center;
    align-content: center;
    scroll-snap-align: end;
    flex-shrink: 0;
    color: white;
    font-size: 5vh;
    gap: 3%;
  }

  .projectText {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .projectDisplay {
    background-color: rgba(88, 0, 114, 0.29);
    width: 85%;
    height: 85%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    overflow: auto;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    border-radius: 0.25em;
  }



  .projectDisplay2 {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    scroll-snap-type: both mandatory;
    width: 100%;
    height: 100%;
  }

  .projectDisplay2::-webkit-scrollbar { height: 0px; width:0px;}



  .projectSubDisplay1,  .projectSubDisplay2, .projectSubDisplay3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    scroll-snap-align: center;
    background-image: no-repeat center / contain url(images/screenWallpaper.svg);
    color: white;
    font-family: "Retro";
    font-size: 2vh;
    flex-shrink: 0;
  }

  .projectPreview{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    text-align: center;
    gap: 10%;
  }

  .previewPic, .previewPic2, .previewPic3 {
    min-height: 250px;
    max-height: 800px;
    width: 80%;
    border-radius: 0.5em;
    transform-origin: right;
    transition: 0.3s ease-in-out;
  }

  .previewPic:hover, .previewPic2:hover, .previewPic3:hover{
    transform: scale(1.1);
  }

  .previewPic {
    transform: perspective(100px) rotateY(-2deg);
  }

  .previewPic2 {
    transform: perspective(100px) rotateY(2deg);
  }
  

  .contactMe {
    background:no-repeat center / cover url(images/leafBlob2.svg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2.5%;
  }

  .contactHeader{
    font-size: 5vh;
    font-weight: 700;
    color: white;
    background-color: hsla(0, 100%, 24%, 0.496);
    padding: 1.25%;
    width: 90%;
    max-width: 550px;
    text-align: center;
    text-shadow: 5px 5px rgb(200, 15, 15);
    border: 4px solid hsla(0, 67%, 47%, 0.819);
    border-radius: 0.12em;
  }

  .emailForm {
    max-width: 600px;
    width: 90%;
    height: 50%;
    background-color: hsla(0, 100%, 24%, 0.496);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 auto;
    color: white;
    font-weight: 700;
    text-align: left;
    border-radius: 0.25em;
    border: 4px solid hsla(0, 67%, 47%, 0.819);
  }

  label {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    font-size: 2vh;
  }
  input[type='text'], input[type='email'], textarea{
    width: 90%;
    resize: none;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7em;
    border-radius: 0.25em;
    border: 0;
  }

  input:focus, textarea {
    outline: none;
  }

  input[type='file'] {
    display:block;
    margin-bottom: 1em;
  }
  input[type='submit'] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 0.75em;
    background-color: #f6983b;
    border: 0px;
    color: white;
    font-weight: 700;
    font-size: 2vh;
    cursor: pointer;
  }

  input[type='submit']:hover {
    background-color: rgb(210, 62, 3);
  }

  .socials {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    height: 15%;
    font-weight: 700;
    font-size: 2.5vh;
    color: white;
    background-color: hsla(0, 100%, 24%, 0.496);
    border: 4px solid hsla(0, 67%, 47%, 0.819);
    transition: 0.1s ease-in-out;
    border-radius: 0.15em;
  }

  .socialsIcon:hover {
  transform: scale(1.2);
  }


  @media screen and (max-width: 880px) {
    .gameGifs:nth-child(1){
      height: 90px;
    }
    
    .gameGifs:nth-child(2){
      height: 100px;
    
    }

    .bBall {
      height: 190px;
    }
  }

  /*ipad landscape*/
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .projectDisplay2 {
      gap: 5%
    }

    .previewPic, .previewPic2, .previewPic3 {
      height: 700px;
      width: 350px;
    }

    .previewPic {
      transform: perspective(250px) rotateY(2deg);
    }
  
    .previewPic2 {
      transform: perspective(250px) rotateY(-2deg);
    }
  }