@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');

.hamburger {
    width: 5%;
    height: 5%;
    position: fixed;
    margin: 1em;
    cursor: pointer;
    z-index: 4;
}

.navMenu {
    width: 0vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(30, 62, 86, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
    z-index: 3;
    transition: 0.2s ease-in-out;
    left: 0;
    top: 0;
}

.navList {
    font-size: 0vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
}

.navMenu li {
    list-style-type: none;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    background-image: linear-gradient(
        90deg,rgb(255, 0, 21), rgb(255, 170, 0));
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 200ms ease-in-out;
}

.navMenu li:hover {
    background-size: 100% 5px;
}

.gbaScreenMainDisplaySkill {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    scroll-snap-align: center;
    background-image: url(images/screenWallpaper.svg);
    color: white;
    font-family: "Retro";
    font-size: 2vh;
    flex-shrink: 0;
  }


  .progLogo2{
    max-height: 80px;
    transition: 0.1s ease-in;
  }
  
  .progLogo2a{
    width: 100%;
    max-height: 100px;
    transition: 0.1s ease-in;
  }

  .progLogo2b{
    width: 200%;
    height: 100px;
    transition: 0.1s ease-in;
    margin-left: -20px;
  }

  .progLogo2:hover, .progLogo2a:hover,  .progLogo2b:hover{
    transform: scale(1.5);
  }
@media screen and (max-width: 900px) {
    .hamburger {
        width: 35px;
        height: 35px;
    }
    
}